<%= render '/shared/header' %>
<div class="quiz">
  <div class="flash_in_quiz">
    <%= render '/shared/flash_messages' %>
  </div>
  <div class="quiz-explanation">
    <h1>トークルームの<span>レベル分けのための</span>クイズ</h1>
    <p>※一度提出すると2週間受けることができませんので、提出前に再確認してから送信してください。</p>
  </div>
  <%= form_with(url: quizes_result_path, scope: :quiz, local: true) do |f| %>
    <% num = 1 %>
    <% @quizes.each do |quiz| %>
      <div class="quiz-content">
        <div class="card">
          <div class="card-body">
          <p class="card-body quiz-question"><%= num %>、<%= quiz.question %></p>
            <div class="form-radio">
              <input class="form-check-input" type="radio" value= 1 id="question-<%= num %>-answer_number-1" name="quiz<%= num %>[answer_num]">
                <label class="form-check-label" for="question-<%= num %>-answer_number-1"><p class="option-item"><%= quiz.option1 %></p></label><br>
              <input class="form-check-input" type="radio" value= 2 id="question-<%= num %>-answer_number-2" name="quiz<%= num %>[answer_num]">
                <label class="form-check-label" for="question-<%= num %>-answer_number-2"><p class="option-item"><%= quiz.option2 %></p></label><br>
              <input class="form-check-input" type="radio" value= 3 id="question-<%= num %>-answer_number-3" name="quiz<%= num %>[answer_num]">
                <label class="form-check-label" for="question-<%= num %>-answer_number-3"><p class="option-item"><%= quiz.option3 %></p></label><br>
              <input class="form-check-input" type="radio" value= 4 id="question-<%= num %>-answer_number-4" name="quiz<%= num %>[answer_num]">
                <label class="form-check-label" for="question-<%= num %>-answer_number-4"><p class="option-item"><%= quiz.option4 %></p></label><br>
            </div>
          </div>
        </div>
        <% num += 1 %>
      <% end %>
      <p class= "quiz-submit"><%= f.submit 'クイズを提出する', class: " quiz-submit-button" %></p>
    </div>
  <% end %>
</div>