<%= render '/shared/header' %>

<div class="content">
  <div class="container">
    <div class="row">
      <div class="coin col-lg-2"><p class="coin-detail">BTC/JPY<br><span>￥<%= @btc %></span></p></div>
      <div class="coin col-lg-2"><p class="coin-detail">ETH/JPY<br><span>￥<%= @eth %></span></p></div>
      <div class="coin col-lg-2"><p class="coin-detail">XRP/JPY<br><span>￥<%= @xrp %></span></p></div>
      <div class="coin col-lg-2"><p class="coin-detail">MONA/JPY<br><span>￥<%= @mona %></span></p></div>
      <div class="coin col-lg-2"><p class="coin-detail">BCC/JPY<br><span>￥<%= @bcc %></span></p></div>
    </div>
    <div class="top-content">
      <div class="row">
        <div class="col-lg-7 top-content-main">
          <h1>新たな通貨の形<br>Crypto Talksで</h1><br>
          <p>楽しく・安全に仮想通貨を話し合える時代。</p>
          <div class="flex">
            <a href="/end_users/new">はじめる</a>
            <a href="/login">サインイン</a>
          </div>
        </div>
        <div class="col-lg-5 top-content-sub">
          <img src="assets/悩んでいる人.jpg" alt="悩んでいる図">
        </div>
      </div>
    </div>
  </div>
</div>

<div id="about" class="container content2">
  <div class="row service-detail-first flex">
    <div class="col-lg-6">
      <p class="title">安全重視のトークサービス</p><br>
      <p class="explanation">
        仮想通貨が出てきた当初から保有している人と、コロナ禍での仮想通貨ブームで保有し始めて人の間には大きな知識差があります。
        中にはこの知識差を利用して詐欺コインを買わせるなどと考えている人もいます。このサービスではトークルームを
        クイズの成績をもとに3つのレベルに分けて、知識差を利用した詐欺を防ぎます。
      </p>
    </div>
    <div class="col-lg-5 offset-1"><img src="assets/平和.png" alt="手を繋ぐ人々" style="width:40rem;"></div>
  </div>
  <div class="row service-detail flex">
    <div class="col-lg-5"><img src="assets/技術上昇.jpeg" alt="レベルアップする人" style="width:45rem;"></div>
    <div class="col-lg-5 offset-1">
      <p class="title">格差を広げないシステム設計</p><br>
      <p class="explanation">
        クイズ成績をもとに3つのレベルに分けて置きっぱなしにはしません。クイズは1週間に1回受けることができます。
        レベルアップに応じてトークルームのメンバーも変わっていきます。低いレベルのトークルームの人たちはまずはお互いにトークルームで勉強してから再度クイズに臨みましょう。
      </p>
    </div>
  </div>
  <div class="row service-detail flex">
    <div class="col-lg-6">
      <p class="title">仲間を見つける</p><br>
      <p class="explanation">
        レベルが上がればもちろんそれなりに仮想通貨に精通した人たちが集まっています。そのような人にコメントをすることで様々な知識を供してもらうことができます。
        またフォロー機能も搭載しているため。有益な発信をすればするほど自分のフォロワー数が増加し、それはこのトークルーム内での信用となるでしょう。
      </p>
    </div>
    <div class="col-lg-5 offset-1">
      <img src="assets/仲間.jpg" alt="仲間ができる" style="width: 45rem;">
    </div>
  </div>
</div>

<div class="content3">
  <div class="container">
    <h2>Crypto Talksをはじめる</h2>
    <div class="row">
      <div class="procedure col-lg-4">
        <p class="procedure-num">1</p>
        <h3>新規登録をする</h3>
        <h4>新たなアカウントを<a href="/end_users/new">こちら</a>から直ちに作成することが可能です。もちろん無料で登録です。</h4>
      </div>
      <div class="procedure col-lg-4">
        <p class="procedure-num">2</p>
        <h3>用意されたクイズを受ける</h3>
        <h4>知識レベルを試すためのクイズをこちらで用意しております。この成績を参照してトークルームを分けます。目標はより高い点数を取ることです。</h4>
      </div>
      <div class="procedure col-lg-4">
        <p class="procedure-num">3</p>
        <h3>割り振られたルームで仲間と学習する</h3>
        <h4>実際にトークルームの仲間と仮想通貨についての知識を共有しましょう。下位のルームに割り当てられた方は、様々な方と協力して上位ルームに入ることがひとまずの目標です。</h4>
      </div>
    </div>
  </div>
</div>

<div class="content4">
  <h1>進化し続ける通貨へようこそ</h1>
  <div><a href="/end_users/new">トーク仲間を探す</a></div>
</div>

<footer>
  <p>© Copyright 2021 Crypto Technologies,bybince rights reserved.いずれの商標もそれぞれの所有者に帰属します。</p>
</footer>