<div class="edit-account flex">
  <%= render '/shared/left-content' %>
  <div class="center-content">
    <%= form_with(model: @end_user, local: true) do |f| %>
      <p><%= f.file_field :image %></p>
      <p><%= f.text_field :name , :size=>"30"%></p>
      <p><%= f.text_area :profile , :size=>"40x3"%></p>
      <%= f.submit '編集を保存する', class: "update-submit-button" %>
    <% end %>
  </div>
  <div class="right-content">

  </div>
</div>