<div class="sign_up_page">
  <div class="icon-cover">
    <a href="/"><img src="/assets/logo_transparent.png" alt="ロゴ"></a>
  </div>
  <div class="title">
    <h1>まずはアカウント情報を入力してください</h1>
    <p><span>ユーザー名は</span>匿名でも構いません。</p>
  </div>
  <div class="error_messages"><%= render 'shared/error_messages' %></div>
  <div class="sign_up_form">
    <%= form_with(model: @end_user, local: true) do |f| %>
      <p>ユーザー名</p>
      <%= f.text_field :name, class: "form form-control" %>
      <p>メールアドレス</p>
      <%= f.email_field :email, class: "form form-control" %>
      <p>パスワード</p>
      <%= f.password_field :password, class: "form form-control" %>
      <p>パスワード再確認用</p>
      <%= f.password_field :password_confirmation, class: "form form-control" %>
      <%= f.submit '続行する', class: "submit-button" %>
    <% end %>
  </div>
  <div class="suggest">
    <p>すでにCrypto Talksをお使いですか？<br><a href="/login">既存のアカウントにサインイン</a></p>
  </div>
</div>