<div class="show-account flex">
  <%= render '/shared/left-content' %>
  <div class="center-content">
    <% if @end_user.image.attached? %>
      <div class="profile-image"><%= image_tag @end_user.image %></div>
    <% else %>
      <div class="profile-image"><img src="/assets/no_image.jpg"></div>
    <% end %>
    <div class="end-user-name-edit-withdraw flex">
      <p class="end-user-name"><%= @end_user.name %></p>
      <% if @end_user.id == current_end_user.id %>
        <%= link_to 'プロフィールを編集', edit_end_user_path(@end_user), class: "edit-profile-button" %>
        <%= link_to 'アカウント削除', withdraw_end_user_path(@end_user), method: :post, data: {confirm: "【確認】アカウントを削除しますか？\n(再度このアカウントでログインすることはできなくなります)"}, class: "end-user-withdraw-button" %>
      <% end %>
    </div>
    <%= render '/shared/follow_stats.html.erb' %>
    <p class="profile-sentence"><%= @end_user.profile %></p>
  </div>
  <div class="right-content">

  </div>
</div>