<div class="post-form-place flex">
  <% if @end_user.image.attached? %>
    <div class="profile-image"><%= image_tag @end_user.image %></div>
  <% else %>
    <div class="profile-image"><%= image_tag asset_path("no_image.jpg", alt: "no_image") %></div>
  <% end %>
  <div class="post-form">
    <%= form_with(model: post, local: true) do |f| %>
      <% if @post.errors.any? %>
        <textarea placeholder="何か入力しましょう" name="post[sentence]" id="post-sentence" wrap="soft" class="post-form-content"></textarea>
      <% else %>
        <textarea placeholder="150字以内で何か話そう" name="post[sentence]" id="post-sentence" wrap="soft"></textarea>
      <% end %>
      <%= f.hidden_field :end_user_id, :value => current_end_user.id %>
      <%= f.button :type => "submit", class: "post-button" do %>
        <i class="far fa-paper-plane"></i>
      <% end %>
    <% end %>
  </div>
</div>