<div class="follower-ranking">
  <h2><i class="fas fa-star"></i>フォロワーランキング<i class="fas fa-star"></i><br><span>（同立フォロワー数の場合、ユーザー登録順となります）<span></h2>
  <% ranking_end_users.each.with_index(1) do |ranking_end_user, i| %>
    <% if i == 1 %>
      <p class="first-ranking"><i class="fas fa-crown"></i>第<%= i %>位
        <span style="color: black;">　<%= ranking_end_user.followers.count %>フォロワー</span>
      </p>
    <% elsif i == 2 %>
      <p class="second-ranking"><i class="fas fa-chess-queen"></i>第<%= i %>位
        <span style="color: black;">　<%= ranking_end_user.followers.count %>フォロワー</span>
      </p>
    <% else %>
      <p class="third-ranking"><i class="far fa-thumbs-up"></i>第<%= i %>位
        <span style="color: black;">　<%= ranking_end_user.followers.count %>フォロワー</span>
      </p>
    <% end %>
    <div class="ranking-end-user flex">
      <% if ranking_end_user.image.attached? %>
        <div style="margin-left: 20px;"><a href="/end_users/<%= ranking_end_user.id %>"><%= image_tag ranking_end_user.image, class: "ranking-end-user-image" %></a></div>
      <% else %>
        <div style="margin-left: 20px;"><a href="/end_users/<%= ranking_end_user.id %>"><img src="/assets/no_image.jpg" class="ranking-end-user-image"></a></div>
      <% end %>
      <p class="name">
        <%= ranking_end_user.name %>
        <a class="link" href="/end_users/<%= ranking_end_user.id %>"></a>
      </p>
    </div>
  <% end %>
</div>

<% if current_end_user.quiz_score <= 6 %>
<div class="quiz-retry">
  <p class="quiz-retry-title">クイズ再挑戦</p>
  <p class="quiz-retry-explain">middleレベル以下のユーザーに2週間に一度のチャンス!<br>クイズを再受験して更なる高みを目指そう！</p>
  <p class="quiz-retry-careful">クイズに再挑戦するには最低でも10件の投稿が必要です。<br>しっかりと勉強してから臨みましょう！！</p>
  <%= render '/shared/flash_messages' %>
  <p class="quiz-retry-button">クイズに再挑戦する<a href="/quizes" class="quiz-retry-button-content"></a></p>
</div>
<% else %>
  <p class="major-coin-serch">主要コイン別投稿検索</p>
  <table class="table table-hover">
    <tbody>
      <tr><td class="major-coin-name">BTC<%= link_to '', search_path(coin: "btc"), class: "major-coin-link" %></td></tr>
      <tr><td class="major-coin-name">ETH<%= link_to '', search_path(coin: "eth"), class: "major-coin-link" %></td></tr>
      <tr><td class="major-coin-name">BNB<%= link_to '', search_path(coin: "bnb"), class: "major-coin-link" %></td></tr>
      <tr><td class="major-coin-name">XRP<%= link_to '', search_path(coin: "xrp"), class: "major-coin-link" %></td></tr>
      <tr><td class="major-coin-name">LOST<%= link_to '', search_path(coin: "lost"), class: "major-coin-link" %></td></tr>
    </tbody>
  </table>
<% end %>