<div class="edit-post flex">
  <%= render '/shared/left-content' %>
  <div class="center-content">
    <%= render '/shared/post_view_title' %>
    <div class="posting">
      <div class="card">
        <div class="card-body">
          <div class="post_end_user flex">
            <% if @post.end_user.image.attached? %>
              <div class="profile-image"><%= image_tag @post.end_user.image %></div>
            <% else %>
              <div class="profile-image"><img src="/assets/no_image.jpg"></div>
            <% end %>
            <h2 class="post_end_user_name"><%= @post.end_user.name %><br>
            <div><%= render '/shared/flash_messages' %></div>
              <div class="post-form">
                <%= form_with(model: @post, local: true) do |f| %>
                  <%= f.text_area :sentence, id: "edit-post-sentence", size: "100x3" %>
                  <%= f.button :type => "submit", class: "post-button" do %>
                    <i class="far fa-paper-plane"></i>
                  <% end %>
                <% end %>
              </div>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>