<div class="log_in_page">
  <div class="icon-cover">
    <a href="/"><img src="/assets/logo_transparent.png" alt="ロゴ"></a>
  </div>
  <div class="title">
    <h1>アカウント情報を入力してください</h1>
    <p>登録した<span>ユーザー名</span>を入力してください。</p>
    <% if @quizes.count < 8 %>
      <p>現在クイズのメンテナンス中です。<br>クイズ未回答の方はお手数ですが、時間を置いてからログインし直してください</p>
    <% end %>
  </div>
  <% if flash %>
    <div class="sign_up_log_in_flash"><%= render 'shared/flash_messages' %></div>
  <% end %>
  <div class="log_in_form">
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
      <p>ユーザー名</p>
      <%= f.text_field :name, class: "form form-control" %>
      <p>パスワード</p>
      <%= f.password_field :password, class: "form form-control" %><br>
      <%= f.check_box :remember_me, class: "remember_me_button" %><span>次回から自動でログインする</span>
      <%= f.submit 'ログイン', class: "log_in_submit-button" %>
    <% end %>
  </div>
  <div class="suggest">
    <p>まだアカウントをお持ちではないですか？<br><a href="/end_users/new">新規アカウントを作成する</a></p>
  </div>
</div>